{% extends 'base.html.twig' %}

{% block title %}Modification Recette{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 mb-5">Modification recette</h1>

        {{ include('recette/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a class="btn btn-secondary mr-3" href="{{ path('recette_index') }}">Retour à la liste</a>

        {{ include('recette/_delete_form.html.twig') }}
    </div>
{% endblock %}
