{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 mb-5">Toutes les recettes</h1>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Titres</th>
                <th>Sous-Titres</th>
                <th>Ingrédients</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for recette in recettes %}
                <tr>
                    <td>{{ recette.id }}</td>
                    <td>{{ recette.title }}</td>
                    <td>{{ recette.subtitles }}</td>
                    <td>{{ recette.ingredients ? recette.ingredients|join(', ') : '' }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('recette_show', {'id': recette.id}) }}">Voir</a>
                        <a class="btn btn-warning" href="{{ path('recette_edit', {'id': recette.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('recette_new') }}">Create new</a>
    </div>
{% endblock %}
