{% extends 'base.html.twig' %}

{% block title %}New Recette{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle recette</h1>

        {{ include('recette/_form.html.twig') }}

        <a class="btn btn-secondary" href="{{ path('recette_index') }}">Retour à la liste</a>
    </div>

{% endblock %}
