{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5 mb-5">Recette</h1>
        <table class="table">
            <tbody>
            <tr>
                <th>#</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Titres</th>
                <td>{{ recette.title }}</td>
            </tr>
            <tr>
                <th>Sous Titres</th>
                <td>{{ recette.subtitles }}</td>
            </tr>
            <tr>
                <th>Ingredients</th>
                <td>{{ recette.ingredients ? recette.ingredients|join(', ') : '' }}</td>
            </tr>
            </tbody>
        </table>
    <a class="btn btn-secondary mr-3" href="{{ path('recette_index') }}">Retour à la liste</a>

    <a class="btn btn-primary" href="{{ path('recette_edit', {'id': recette.id}) }}">Modifier</a>

    {{ include('recette/_delete_form.html.twig') }}
</div>

{% endblock %}
